<h2>By Country</h2>
<hr>

<div class="row">
    <div class="col">
        <app-input-country 
                (onEnter) = "searchCountry ( $event )"
                (onDebounce)="suggestionsWords( $event )"
                placeholder="Search by Country..."
        >            
        </app-input-country>
    </div>
</div>


<ul *ngIf="showSuggestions" class="list-group">
    <li *ngFor="let country of suggestedCountries"
        class="list-group-item list-group-item-action">
        <a [routerLink]="['/country', country.alpha3Code]" class="nav-link">
            {{country.name}}
        </a>
    </li>
    <li 
        class="list-group-item list-group-item-action"
        (click)="searchSuggested( searchTerm )">
        <a class="nav-link">
            Search {{ searchTerm }}
        </a>
    </li>
</ul>


<hr>

<div *ngIf="haveError" class="alert alert-danger">
    Nothing was found with the search {{searchTerm}}.
</div>

<div *ngIf="!haveError" class="row">
    <div *ngIf="countries.length > 0" class="col">
        <app-table-countries [countries]="countries"></app-table-countries>
    </div>
</div>